<div>
  <div>
    <div class = "mt-4 d-flex justify-content-center">
      
      <p class="font-weight-light" style = "font-size: 37px;">Your likes</p>
      
    </div>


    <div class = "mb-4 d-flex justify-content-center">
      <a href="/" class = "text-secondary text-decoration-none">
        Go home
      </a>
    </div>


    <div class = "card-columns">
      <% @the_like.each do |nice| %>
        <div class = "card">
          <div class = "card-body">
            <div style= "display: flex">
              <p style = "font-size:30 px"><%= nice.story.user.username %></h3>

              <span class="badge badge-secondary" ><%= nice.story.filter %></span>
            </div>
            <p class="text-black-50"><%= time_ago_in_words(nice.story.created_at) %> ago</p>
            <p style = "font-size: 25px"><%= nice.story.body %></p>
            <span class="badge badge-pill badge-warning">Likes: <%= nice.story.likes_count %></span>
            <a href="/stories/<%= nice.story.id %>" class="badge badge-pill badge-light">
              Show details
            </a>
            or
            <a href="/delete_like/<%= nice.id %>" class="badge badge-pill badge-secondary">
              Un-like
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
