
<div class = "mb-4">
  <div>
    <div class = "my-4 d-flex justify-content-center">
      <p class="font-weight-light" style = "font-size: 37px;">Let the people decide where your tale goes</p>

    </div>

    <div class = "mb-5">
      <div class="d-flex justify-content-center">
        <%= search_form_for @q do |f| %>

          <div class = "form-inline">
            
            <%# <%= f.label :body_cont, "Search" %>
            <%= f.text_field :body_cont, :placeholder => "Story", :class => "form-control mr-sm-2" %>
            
            <%= f.text_field :user_username_cont, :placeholder => "User", :class => "form-control mr-sm-2" %>

            <%# <%= f.text_field :filter_cont, :placeholder => "Filter", :class => "form-control mr-sm-2" %>
            <% filters = ["Adventure","Comedy","Fantasy","Horror","Mystery","Religion","Romance","Tearjerker","NSFW"] %>
            <div class = "mr-2">
              <%= f.select :filter_eq, filters, { :include_blank => true, :prompt => "Filter" }, :class => "form-control" %>
            </div>
            
            <div class = "mr-2">
              <%= f.submit :class => "btn btn-outline-warning my-2 my-sm-0" %>
            </div>
            <a href="/stories" class="text-secondary text-decoration-none">Clear search</a>
          </div>

        <% end %>
      </div>
    </div>

    <p class="font-weight-light" style = "font-size: 30px;">
      Add a new story
    </p>

    <form action="/insert_story" method="post">
      <div class="form-group">
        <label for="body_box">
          Body
        </label>

        <textarea type="text" class="form-control" id="body_box" name="query_body" rows = "1"></textarea>
      </div>

      <div class="form-group">
        <label for="filter_box">
          Filter
        </label>

        <% filters = ["", "Adventure","Comedy","Fantasy","Horror","Mystery","Religion","Romance","Tearjerker","NSFW"] %>
        <select class="form-control" id="filter_box" name="query_filter">
          <% filters.each do |a_filter| %>
            <option value="<%= a_filter %>">
              <%= a_filter %>
            </option>
          <% end %>
        </select>
      </div>

      <button class="btn btn-dark" >
        Create story
      </button>
    </form>
  </div>
</div>



<div>
  <div>

    <div class = "card-columns">
      <% @list_of_stories.each do |a_story| %>
        <div class = "card">
          <div class = "card-body">
            <div style= "display: flex">
              <p style = "font-size:30 px"><%= a_story.user.username %></h3>

              <span class="badge badge-secondary" ><%= a_story.filter %></span>
            </div>
            <p class="text-black-50"><%= time_ago_in_words(a_story.created_at) %> ago</p>
            <p style = "font-size: 25px"><%= a_story.body %></p>
            <span class="badge badge-pill badge-warning">Likes: <%= a_story.likes_count %></span>
            <a href="/stories/<%= a_story.id %>" class="badge badge-pill badge-light stretched-link">
              Show details
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<hr>
