<div>
  <div>
    <h1>
      A <%= @the_story.user.username %> production
    </h1>
    <h3>
      <%= @the_story.filter %>
    </h3>

    <% user_like = @the_story.likes.where( :user_id => @current_user.id ).first %>

    <% if user_like == nil %>
      <form action="/insert_like" method="post">
        <input type="hidden" name="query_story_id" value="<%= @the_story.id %>">

        <button>Like</button>
      </form>
    <% else %>
      <a href="/delete_like/<%= user_like.id %>">
        Unlike
      </a>
    <% end %>


    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_story.user.username %>
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_story.likes_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_story.created_at) %> ago
      </dd>


    </dl>
  </div>
</div>

<dl>
  <dt>
    <%= @the_story.user.username %>
  <dt>
  <dd>
    <%= @the_story.body %>
  </dd>
  <% @the_story_parts.each do |part|%>
    <dt>
      <%= part.user.username%>
    </dt>
    <dd>
      <%= part.body%>
    </dd>
  <% end %>
</dl>

<div>
  <h2>
    Add a new story part
  </h2>

  <form action="/insert_story_part" method="post">
    <div>
      <label for="body_box">
        Body
      </label>

      <input type="text" id="body_box" name="query_body">
    </div>

    <div>
      <input type="hidden" id="story_id_box" name="query_story_id" value = "<%= @the_story.id %>">
    </div>

    <div>

      <input type="hidden" id="user_id_box" name="query_user_id" value = "<%= @current_user.id %>">
    </div>

    <button>
      Create your story part
    </button>
  </form>
</div>


<hr>


<% if @current_user.id == @the_story.user.id%>
  
  <div>
    <h2>
      Edit story
    </h2>

    <div>
        <a href="/delete_story/<%= @the_story.id %>">
          Delete story
        </a>
    </div>

    <form action="/modify_story/<%= @the_story.id %>"  method="post" >
      <div>
        <label for="body_box">
          Body
        </label>

        <input type="text" id="body_box" name="query_body" value="<%= @the_story.body %>">
      </div>

      <div>
        <label for="filter_box">
          Filter
        </label>

        <input type="text" id="filter_box" name="query_filter" value="<%= @the_story.filter %>">
      </div>

      <button>
        Update story
      </button>
    </form>
  </div>
<% end %>

<hr>

<div>
  <a href="/stories">
    Go back
  </a>
</div>


