<div>
  <div>
    <h1>
      A <%= @the_story.user.username %> production
    </h1>
    <h3>
      <%= @the_story.filter %>
    </h3>

    <% user_like = @the_story.likes.where( :user_id => @current_user.id ).first %>

    <% if user_like == nil %>
      <form action="/insert_like" method="post">
        <input type="hidden" name="query_story_id" value="<%= @the_story.id %>">

        <button class="btn btn-outline-success">Like</button>
      </form>
    <% else %>
      <a href="/delete_like/<%= user_like.id %>">
        Unlike
      </a>
    <% end %>


    <dl>
      <% if @the_story.likes_count == 1%>
        <dt>
          <%= @the_story.likes_count %> like
        </dt>
      <% elsif  @the_story.likes_count == nil %>        
        <dt>
          0 likes
        </dt>
      <% else %>
        <dt>
          <%= @the_story.likes_count %> likes
        </dt>
      <% end %>

      <dt>
        Created <%= time_ago_in_words(@the_story.created_at) %> ago
      </dt>

    </dl>
  </div>
</div>

<ul>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= @the_story.user.username %>: <%= @the_story.body %>
  </li>
  <% @the_story_parts.each do |part|%>

    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= part.user.username%>: <%= part.body%>
      
      <div>
        <% user_close_vote = CloseVote.all.where({ :user_id => @current_user.id}).where( :story_id => part.id).first %>
        <% if user_close_vote == nil %>
          <form class = "form-inline" action="/insert_close_vote" method="post">
            <input type="hidden" name="query_story_part_id" value="<%= part.id %>">

            <button class="btn btn-outline-warning">Vote to close this story</button>

            <span class="badge badge-primary badge-pill"><%= part.close_votes_count %></span>
          </form>
        <% else %>
          
          
          <a href="/delete_close_vote/<%= user_close_vote.id %>">
            Un-vote
          </a>
          <span class="badge badge-primary badge-pill"><%= part.close_votes_count %></span>
        <% end %>
        
      </div>

    </li>

  <% end %>
</ul>

<div>
  <%# <% user_story = @current_user.stories.where({ :id => @the_story.id }) %>
  <% user_part = @current_user.story_parts.where({ :story_id => @the_story.id }).first %>
  <%# <% user_part = StoryPart.all.where({ :story_id => @the_story.id }).where({ :user_id => @current_user.id}) %>
  <% if @the_story.user.id != @current_user.id && user_part == nil %>
    <h3>
      Add a new story part
    </h3>

    <form action="/insert_story_part" method="post">
      <div class="form-group">
        <label for="body_box">
          Body
        </label>

        <input class="form-control" type="text" id="body_box" name="query_body">
      </div>

      <div>
        <input type="hidden" id="story_id_box" name="query_story_id" value = "<%= @the_story.id %>">
      </div>

      <div>

        <input type="hidden" id="user_id_box" name="query_user_id" value = "<%= @current_user.id %>">
      </div>

      <button class="btn btn-dark">
        Create your story part
      </button>
    </form>
  <% end %>
</div>


<hr>


<% if @current_user.id == @the_story.user.id%>
  
  <div>
    <h2>
      Edit story
    </h2>

    <div>
        <a href="/delete_story/<%= @the_story.id %>">
          Delete story
        </a>
    </div>

    <form action="/modify_story/<%= @the_story.id %>"  method="post" >
      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body" value="<%= @the_story.body %>"><%= @the_story.body %></textarea>
      </div>

      <div>
        <label for="filter_box">
          Filter
        </label>

        <input type="text" id="filter_box" name="query_filter" value="<%= @the_story.filter %>">
      </div>

      <button class="btn btn-dark">
        Update story
      </button>
    </form>
  </div>
<% end %>

<hr>

<div>
  <a href="/stories">
    Go back
  </a>
</div>


